<!doctype HTML>
<html>
<head>
  <title>js database</title>
  <script type="text/javascript" src="test.js"></script>
</head>
<body>


<body>
<h1>Hello!</h1>
<p>The time is <strong><%= Time.now %></strong>.</p>

<hr>

<p>Use the resource routes pattern to get information about students.</p>



</body>
</html>